body {
  background: #5585b5;
  margin: 80px 0;
}

.App {
  max-width: 960px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  font-weight: 400;
  color: darkblue;
}

.App a {
  color: aquamarine;
}
