.Weather {
  font-family: Arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 40px;
  border-radius: 10px;
  color: rgb(135, 135, 135);
  background: #f2f2f2;
}

.search-btn {
  background: rgb(34, 90, 164);
  border-color: rgb(34, 90, 164);
  color: aquamarine;
  margin-left: -16px;
  padding: 5px 35px;
}

.Weather h1 {
  font-size: 52px;
  color: black;
  font-weight: bold;
  margin: 75px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 20px 0 40px;
  padding: 0;
}

.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
  list-style: none;
}

.Weather canvas {
  margin-top: 5px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 65px;
  line-height: 64px;
  font-weight: 400;
  position: relative;
  top: -66px;
  right: -59px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 24px;
  position: relative;
  line-height: 1;
  top: -100px;
  right: -58px;
  margin-left: 2px;
}

.Humidity,
.Wind {
  color: darkblue;
  font-weight: 550;
}

.Precipitation {
  margin: -15px 0 0 60px;
}
